.search-found-table {
  border-collapse: collapse;
  margin: 30px auto;
  min-width: 80%;
  text-align: center;
}

th {
  /* height: 40px;
  max-width: 40px;
  min-width: 40px; */
  background: rgb(229, 231, 233, 0.6);

  padding: 14px 4px;
  /* padding-top: 0; */
}

tr:nth-child(odd) {
  background: rgb(229, 231, 233, 0.6);
}

td {
  max-width: 60px;
  min-width: 40px;
  padding: 10px 0;
  background: rgba(179, 182, 183, 0.6);
}

.sf-img {
  border-radius: 10px;
  max-width: 50%;
  min-width: 30px;
}
